<div class="row mt-4">
  <div class="col-md-3"></div>
  <div class="card col-md-6">
    <div class="card-body">
      <%= render 'form_credit' %>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>